* {
    margin: 0;
    padding: 0;
    font-family: "Anton", sans-serif;

}

.calculator {

    position: relative;
    text-align: center;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1px solid rgb(42, 128, 199);
    background-color: rgb(255, 255, 239);
    padding: 20px;
}

.window {

    display: flex;
    justify-content: right;
    margin-bottom: 30px;
    height: 60px;
    background-color: rgb(207, 207, 204);
}

.window p {

    padding-right: 10px;
    font-size: 34px;
}

.Buttons {

    display: grid;
    /* Добавлено */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
}

.Buttons #clear {
    grid-column: span 3;
}

.Buttons button {
    font-size: 2.5vw;
    /* Размер шрифта для кнопок */
    padding: 20px;
    /* Padding для кнопок */

    border: none;
    /* Убираем границы */
    border-radius: 5px;
    /* Скругляем углы */
    background-color: rgb(183, 181, 196);
    font-weight: 400;
    font-style: normal;
    font-size: 34px;

}

.Buttons button:hover {
    background-color: cadetblue;
}